<header  >
  <div style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="hero-bg-img"></div>
    <nav id="top-nav"  class="nav-bar fixed z-10 w-full py-4 sm:py-6  ">
      <div   id="menu" class="container  flex flex-wrap items-center">
        <!-- Social icons-->
        <div class="flex gap-4">
          {{-  partial "components/social-media.html" . -}}
        </div>
        <!-- Links-->
        <ul class=" hidden sm:flex flex-1 justify-end items-center gap-6 ">
          {{-  partial "components/menu.html" . -}}
        </ul>
        <!-- Hamburger menu on mobile-->
        <div class="flex sm:hidden flex-1 justify-end">
          <button id="toggle" class="button_container">
            <i class="fa-solid fa-bars"></i>           
          </button>
        </div>
      </div>
      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
              {{-  partial "components/menu.html" . -}}
            </ul>
        </nav>
      </div>
    </nav>
  </header>