{{- define "main" }}

<section id="about" class="section colored-bg with-heading " style="opacity: 1;">
    <div class="container">
        <h2 class="section-title text-center text-color">About Us</h2>
        <div class="flex flex-col justify-between sm:flex-row gap-6 mb-14 text-color">
            <img src="https://assets.website-files.com/5d1f6016fd3194054b45be07/5d2efa5e4a77d80dbc3bf288_battlecreek-coffee-roasters-IbZFP9eAIic-unsplash(1).jpg"
                class="w-full md:object-cover sm:w-2/5">
            <div class="w-full sm:w-1/2">
                <h1 class="text-xl sm:text-4xl font-bold mb-2 sm:mb-4">
                    An Inherited Family Passion, Passed On From Generation To Generation
                </h1>
                <h3 class="text-base text-bakery-subheading mb-12">
                    Aromatic iced latte pumpkin robust shot skinny white gingerbread jelly-o tiramisu toffee american
                    denim gluten-free keytar organic scenester seitan shoreditch sriracha vice girls with bangs rugby
                    san francisco t-shirts standing still at concerts juno irony asian girls. Blue chicory panna robusta
                    viennese candy oat artisan chillwave direct fixie godard hoodie mlkshk umami whatever promising to
                    learn a new language hating corporations writers workshops yoga. As black body brewed cup
                    frappuccino french qui trade marshmallow toffee beard before they sold out brunch denim direct
                    seitan tattooed yr the world cup pea coats being offended grammar the idea of soccer awareness wes
                    anderson movies film festivals. Au dripper milk pot sit viennese powder sweet fanny pack
                    fingerstache forage four photo booth banksy mad men sea salt difficult breakups the daily
                    show/colbert report being an expert on your culture. Aged and shot siphon danish fruitcake jelly-o
                    authentic bag before they sold out helvetica kogi master pork put a bird on it raw selvage viral
                    camping vespa scooters the ivy league rugby multilingual children sarah silverman renovations having
                    two last names. Au doppio iced belly biodiesel cliche fap loko put a bird on it hating people who
                    wear ed hardy sea salt study abroad being the only white person around divorce. Arabica chicory
                    grounds half plunger cake carrot chupa cream jelly bicycle bushwick farm-to-table forage fund
                    letterpress marfa odd post-ironic trust dinner parties st. patrick's day threatening to move to
                    canada arts degrees plays david sedaris microbreweries being an expert on your culture.

                </h3>
            </div>
        </div>
    </div>

    <section class="cta-section ">
        <div class="container">
            <div class="cta-wrapper">
                <h3 class="section-title inline no-margin-bottom white">Take A look At Our Delicious Coffee</h3>
                <div class="buttons-wrapper cta"><a href="/store"
                        class="filled-btn no-margin-top mobile-full-width w-inline-block">
                        <div class="filled-btn-overlay"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                        </div>
                        <div class="filled-btn-text">Discover Our Coffee</div>
                    </a></div>
            </div>
        </div>
    </section>



</section>

{{- end }}