{{- define "main" }}
<link rel="stylesheet" href="/css/stores.css?v=1" /> 

<div style="height: 50vh;"></div>
<section class="section colored-bg with-heading text-color3 " style="padding:0">

    <div class=" sm:my-14   ">
      <div class=" container flex flex-col sm:flex-row ">  
        <div class="w-full sm:w-10 sm:mt-10 " >
          <h1>{{ .Title }}</h1>
          <div class="container-menu">
            <div class="sidebar">

        

           
              <div id="category-tree"></div>

              <script src="{{ "js/categories.js" | absURL }}"></script>
              <script>
                const categories = {{ .Site.Taxonomies.categories}};

                var cateList= []
                for(var item in categories){
                  var cate = item.split("/")
                  var products = []
                  var json = {}
                  if(cate[0] === "stores"){
                    for(var i = 0; i < categories[item].length ; i++){
                      products.push(categories[item][i].Page.Title)
                    }
                    item = item.replace("stores/","")
                    json.category = item
                    json.products = products
                    cateList.push(json)
                  }
                }

                console.info(JSON.stringify(cateList))

                var parentElement = document.getElementById("category-tree");
                if (parentElement) {
                  var categoryTree = buildCategoryTree(cateList, parentElement);;
                  console.info(categoryTree);
                } else {
                  console.error("Parent element not found.");
                }
  
              </script>

          
              
            </div>
          
            <div class="content">
              <div class="product-list">
                {{ range .Data.Pages }}
                <div class="product-card " data-id="1"  data-category="{{ .Params.categories}}">
                  <img src="{{.Params.Cover.image}}"  alt="{{.Params.Cover.Alt}}">
                  <h3>{{ .Title }}</h3>
                  <p>{{ .Description }}</p>
                  <p class="price">{{ .Params.price }}</p>
                  <div class="store  flex justify-end mt-10">
                    <a href="{{ .Permalink }}" class=" btn btn-primary">View</a>
                  </div>

                </div>
                {{ end }}
      
                <!-- {{ range .Data.Pages }}
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
                <p>Price: {{ .Params.price }}</p>
                {{ range .Params.images }}
                  <img src="{{ . }}" alt="Product Image">
                {{ end }}
                <hr>
              {{ end }} -->


              </div>
            </div>


          </div>
    
        </div>
      </div>
    </div>


  </section>


  <script src="/js/stores.js"></script>


{{- end }}
