<section class="section colored-bg with-heading " style="opacity: 1;">
    <div class="container">
        <h2 class="section-title text-center text-color">Our Menu</h2>

        <div class="collection-list text-center ">
            <div class="menu-item">
                <img src="https://assets.website-files.com/5d1f6016fd3194150a45be13/5d1fa4cb43881c69e8daf505_nitin-pariyar-EsAoDa4ddqU-unsplash.jpg" />
                <div class="text-center mt-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h3 class="text-center">name</h3>
                <p>$ 2.50</p>
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Strength</div>
                    <div class="opening-time-text">
                        <div class="coffee-intensity">
                            <span class="intensity-bar" style="width: 70%;"></span>
                        </div>
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Origin</div>
                    <div class="opening-time-text">
                        Yunnan, China
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Roast Level</div>
                    <div class="opening-time-text">
                        medium
                    </div>
                </div>


                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Brewing Method</div>
                    <div class="opening-time-text">
                        espresso
                    </div>
                </div>
                
                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Acidity</div>
                    <div class="opening-time-text">
                        mellow
                    </div>
                </div>



            </div>

            <div class="menu-item">
                <img src="https://assets.website-files.com/5d1f6016fd3194150a45be13/5d1fa4cb43881c69e8daf505_nitin-pariyar-EsAoDa4ddqU-unsplash.jpg" />
                <div class="text-center mt-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h3 class="text-center">name</h3>
                <p>$ 2.50</p>
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Strength</div>
                    <div class="opening-time-text">
                        <div class="coffee-intensity">
                            <span class="intensity-bar" style="width: 70%;"></span>
                        </div>
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Origin</div>
                    <div class="opening-time-text">
                        Yunnan, China
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Roast Level</div>
                    <div class="opening-time-text">
                        medium
                    </div>
                </div>


                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Brewing Method</div>
                    <div class="opening-time-text">
                        espresso
                    </div>
                </div>
                
                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Acidity</div>
                    <div class="opening-time-text">
                        mellow
                    </div>
                </div>



            </div>
            <div class="menu-item">
                <img src="https://assets.website-files.com/5d1f6016fd3194150a45be13/5d1fa4cb43881c69e8daf505_nitin-pariyar-EsAoDa4ddqU-unsplash.jpg" />
                <div class="text-center mt-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h3 class="text-center">name</h3>
                <p>$ 2.50</p>
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Strength</div>
                    <div class="opening-time-text">
                        <div class="coffee-intensity">
                            <span class="intensity-bar" style="width: 70%;"></span>
                        </div>
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Origin</div>
                    <div class="opening-time-text">
                        Yunnan, China
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Roast Level</div>
                    <div class="opening-time-text">
                        medium
                    </div>
                </div>


                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Brewing Method</div>
                    <div class="opening-time-text">
                        espresso
                    </div>
                </div>
                
                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Acidity</div>
                    <div class="opening-time-text">
                        mellow
                    </div>
                </div>



            </div>
            <div class="menu-item">
                <img src="https://assets.website-files.com/5d1f6016fd3194150a45be13/5d1fa4cb43881c69e8daf505_nitin-pariyar-EsAoDa4ddqU-unsplash.jpg" />
                <div class="text-center mt-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h3 class="text-center">name</h3>
                <p>$ 2.50</p>
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Strength</div>
                    <div class="opening-time-text">
                        <div class="coffee-intensity">
                            <span class="intensity-bar" style="width: 70%;"></span>
                        </div>
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Origin</div>
                    <div class="opening-time-text">
                        Yunnan, China
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Roast Level</div>
                    <div class="opening-time-text">
                        medium
                    </div>
                </div>


                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Brewing Method</div>
                    <div class="opening-time-text">
                        espresso
                    </div>
                </div>
                
                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Acidity</div>
                    <div class="opening-time-text">
                        mellow
                    </div>
                </div>



            </div>
            <div class="menu-item">
                <img src="https://assets.website-files.com/5d1f6016fd3194150a45be13/5d1fa4cb43881c69e8daf505_nitin-pariyar-EsAoDa4ddqU-unsplash.jpg" />
                <div class="text-center mt-4">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <h3 class="text-center">name</h3>
                <p>$ 2.50</p>
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Strength</div>
                    <div class="opening-time-text">
                        <div class="coffee-intensity">
                            <span class="intensity-bar" style="width: 70%;"></span>
                        </div>
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Origin</div>
                    <div class="opening-time-text">
                        Yunnan, China
                    </div>
                </div>

                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Roast Level</div>
                    <div class="opening-time-text">
                        medium
                    </div>
                </div>


                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Brewing Method</div>
                    <div class="opening-time-text">
                        espresso
                    </div>
                </div>
                
                
                <div class="opening-time-line items-center">
                    <div class="opening-time-text">Acidity</div>
                    <div class="opening-time-text">
                        mellow
                    </div>
                </div>



            </div>





        </div>

    </div>

</section>