<section>
    <div id="newsletter" class="section newsletter wf-section">
        <div class="container">
            <div class="newsletter-title-wrapper">
                <h3 class="big-title white center">Hey there! Do you like coffee? Sign up for our newsletter and get a 5% discount.</h3>
            </div>
            <div class="w-form">
                <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
            <div class="muted-text">We only send relevant newsletters once a month. You can unsubscribe at any time</div>
            </div>
        </div>
    </div>

</section>